@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply bg-babyPowder;
  }
  .title {
    @apply font-roboto text-lg font-normal uppercase text-ultraRed mb-2;
  }
  .subtitle {
    @apply font-baskerville text-4xl font-bold text-prussianBlue mb-2;
  }
  .paragraph {
    @apply font-roboto text-lg font-normal text-prussianBlue mb-2;
  }
  .navlink-hover {
    @apply py-2 px-5 rounded-full transition ease-in-out hover:bg-gray-200 hover:-translate-y-1 hover:scale-110 duration-300;
  }
  .navlink-active {
    @apply font-bold underline underline-offset-8 decoration-ultraRed decoration-2 text-prussianBlue;
  }
  .skills-svg-128vb {
    @apply fill-ultraRed stroke-prussianBlue stroke-2;
  }
  .skills-svg-50vb {
    @apply fill-ultraRed stroke-prussianBlue stroke-1;
  }
  .button-ring {
    @apply transition-all hover:ring hover:ring-prussianBlue hover:ring-offset-2 hover:ring-offset-babyPowder;
  }
  .circle1-animation {
    @apply opacity-40 mix-blend-lighten blur-2xl circle-1;
  }
  .circle2-animation {
    @apply opacity-40 mix-blend-lighten blur-2xl circle-2;
  }
  .circle1-animation-md {
    @apply -top-7 left-40 opacity-40 mix-blend-lighten blur-2xl circle-1-md;
  }
  .circle2-animation-md {
    @apply -top-10 left-52 opacity-40 mix-blend-lighten blur-2xl circle-2-md;
  }
}

.circle-1 {
  animation: circle-1 15s ease-out infinite alternate;
}
.circle-2 {
  animation: circle-2 20s ease-out infinite alternate;
}
.circle-1-md {
  animation: circle-1-md 15s ease-in-out infinite alternate;
}

.circle-2-md {
  animation: circle-2-md 20s ease-in-out infinite alternate;
}

@keyframes circle-1 {
  0% {
    transform: translateY(50%) translateX(0) scale(0.7);
  }

  100% {
    transform: translateY(-150px) translateX(-200px) scale(1.2);
  }
}
@keyframes circle-2 {
  0% {
    transform: translateY(50%) translateX(0) scale(0.7);
  }

  100% {
    transform: translateY(400px) translateX(-20px) scale(0.9);
  }
}

@keyframes circle-1-md {
  0% {
  }

  100% {
    transform: translateY(-100px) translateX(-350px);
  }
}
@keyframes circle-2-md {
  0% {
  }

  100% {
    transform: translateY(-50px) translateX(350px);
  }
}

.appear {
  animation: appear 300ms ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.appear-menu {
  animation: appear-menu 250ms ease-in-out;
}

@keyframes appear-menu {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
