@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply bg-babyPowder;
  }
  .title {
    @apply font-roboto text-lg font-normal uppercase text-ultraRed mb-2;
  }
  .subtitle {
    @apply font-baskerville text-4xl font-bold text-prussianBlue mb-2;
  }
  .paragraph {
    @apply font-roboto text-lg font-normal text-prussianBlue mb-2;
  }
  .navlink-hover {
    @apply py-2 px-5 rounded-full transition ease-in-out hover:bg-gray-200 hover:-translate-y-1 hover:scale-110 duration-300;
  }
  .navlink-active {
    @apply font-bold underline underline-offset-8 decoration-ultraRed decoration-2 text-prussianBlue;
  }
  .skills-svg {
    @apply fill-ultraRed stroke-prussianBlue stroke-2;
  }
  .button-ring {
    @apply transition-all hover:ring hover:ring-prussianBlue hover:ring-offset-2 hover:ring-offset-babyPowder;
  }
}

.shape-outside {
  shape-outside: circle();
}

.circle-1 {
  background: radial-gradient(
    closest-side,
    rgba(255, 105, 120, 1),
    rgba(255, 255, 255, 0)
  );
  animation: diagonal-up-left 6s ease-in-out infinite alternate;
}

.circle-2 {
  background: radial-gradient(
    closest-side,
    rgb(69, 123, 157),
    rgba(255, 255, 255, 0)
  );
  animation: diagonal-up-right 10s ease-in-out infinite alternate;
}

/* .logo .logo-e {
  transform: translateY(0) translateX(0);
  transition: transform 250ms ease-in-out;
}
.logo .logo-p {
  transform: translateY(0) translateX(0);
  transition: transform 250ms ease-in-out;
}

.logo:hover .logo-e {
  transform: translateY(42px) translateX(-70px);
  transition: transform 200ms ease-in-out;
}
.logo:hover .logo-p {
  transform: translateY(-42px) translateX(70px);
  transition: transform 200ms ease-in-out;
} */

.appear {
  animation: appear 300ms ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.appear-menu {
  animation: appear-menu 250ms ease-in-out;
}

@keyframes appear-menu {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes diagonal-up-left {
  0% {
  }

  100% {
    transform: translateY(-200px) translateX(-300px);
  }
}

@keyframes diagonal-up-right {
  0% {
  }

  100% {
    transform: translateY(-200px) translateX(350px);
  }
}
